:root {
    --hmain: 100vh;
    --wmain: 100vw;
}

nav div p{
    position: relative;
    left: -20px;
    bottom: 5px;
}


.navbar img {
    height: calc(var(--hmain)*.07);
}

main {
    min-height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#promo, #formulario{
    display: flex;
    justify-content: center;
    max-width: 1500px;
}

#formulario #delete, #formulario #resume {
    background: var(--bs-teal);
    border: var(--bs-teal);
}


#formulario #delete:hover{
    background: var(--bs-danger);
    border: var(--bs-danger)
}
#formulario #resume:hover{
    background: var(--bs-green);
    border: var(--bs-green);
}

footer {
    background: #1A4860;
}

a.text-light.text-decoration-none:hover{
    color: #0dcaf0!important;
}


@media (min-width: 1500px) and (orientation: landscape){
    .nav-item a, main p, footer a{
        font-size: 20px;
    }

}

/* Mobile Landscape */

@media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px){

    .navbar img {
        height: calc(var(--hmain)*.1);
    }

    footer div.row.justify-content-center.align-items-center.m-0.text-center{

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 1044px) and (orientation: portrait) {
    
 
    footer div.row.justify-content-center.align-items-center.m-0.text-center{

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}